{% load static %}
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">AskIt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Новые</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hot' %}">Лучшие</a>
          </li>
        </ul>
        <div class="d-flex gap-2 align-items-center">
          <a href="{% url 'ask' %}" class="btn btn-outline-light">Задать вопрос</a>
          {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="btn btn-outline-light">{{ user.username }}</a>
            <form method="post" action="{% url 'logout' %}" class="m-0">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light">Выйти</button>
            </form>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-light">Войти</a>
            <a href="{% url 'signup' %}" class="btn btn-outline-light">Регистрация</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
